@model IEnumerable<Gobi.Test.Jr.Domain.TodoItem>
@{
	ViewData["Title"] = "Home Page";
}

<div class="container">

	<div class="mt-5 mb-5">
		<a asp-action="Add" class="btn btn-primary">
			Add ToDo
		</a>
	</div>

	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Tarefa</th>
				<th>Opções</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>@item.Description</td>
					<td>
						<a href="#" class="btn btn-sm" title="Editar">Editar</a>
						<a href="#" class="btn btn-sm" title="Excluir">Excluir</a>
					</td>
				</tr>
			}
		</tbody>
	</table>

</div>
