@model Gobi.Test.Jr.Domain.DTO.TodoItemDTO

@{
    ViewData["Title"] = "UpdateItem";
}

<h1>Update Item</h1>

<h4>Update Your Items here </h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="UpdateItem">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-row">
                <div class="form-group col-md-9">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3 d-flex align-items-center">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Completed" /> @Html.DisplayNameFor(model => model.Completed)
                    </label>
                </div>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
